<main class="min-h-screen">
    <section class="flex justify-center items-center min-h-screen relative">
        <div class="flex flex-col gap-5">
            <h2 class="font-medium text-base text-center uppercase">digital marketing specialist</h2>
            <h1 class="text-center font-bold text-5xl md:text-7xl">Frida Meza</h1>
            <div class="">
                <p class="text-sm text-center ">Digital Marketer <strong class="font-extrabold">@Grupo Infos</strong></p>	
                <p class="text-sm text-center">Antes en <strong class="font-semibold">@Revista Proceso</strong></p>	
            </div>
        </div>
        <div class="absolute bottom-10  shadow-2xl rounded-full p-1.5">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-down" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 5l0 14" /><path d="M18 13l-6 6" /><path d="M6 13l6 6" /></svg>	
        </div>
    </section>
</main>